<a href="https://colab.research.google.com/github/rayoen0/data-analytics-with-python-classroom-1a8e1c-streamlit-exercise-Streamlit-Exercise/blob/main/Assignment_2_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTANT: Before you start, enter your name and student number below.

**Full Name**: Rayane El Metni

**Student Number**: 400677235

# Customer Data Visualization

Answering the following questions with Nata Supermarkets dataset. Your goal is to use `plotly.express` to create visualizations and draw insights based on the data.

Before starting your work, upload your data file directly to Colab and load it as a pandas data frame.

**Note**: Recall that the dataset has missing values. Drop rows with missing values before you proceed to tasks.

In [14]:
# Dependencies

import pandas as pd
import plotly.express as px
import numpy as np

In [10]:
# Importing the data, received as an xlsx.
file_path = "/content/Nata/W33836-XLS-ENG.xlsx"
# Read the second sheet (index 1) into a DataFrame, as the first sheet is a copyright notice.
df = pd.read_excel(file_path, sheet_name=1)
display(df_xlsx.head())
display(df_xlsx.describe())

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-04-09 00:00:00,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-08-03 00:00:00,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-10-02 00:00:00,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

In [11]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

None

In [12]:
# Drop rows with missing values
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2216 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2216 non-null   int64
 1   Year_Birth           2216 non-null   int64
 2   Education            2216 non-null   object
 3   Marital_Status       2216 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2216 non-null   int64
 6   Teenhome             2216 non-null   int64
 7   Dt_Customer          2216 non-null   object
 8   Recency              2216 non-null   int64
 9   MntWines             2216 non-null   int64
 10  MntFruits            2216 non-null   int64
 11  MntMeatProducts      2216 non-null   int64
 12  MntFishProducts      2216 non-null   int64
 13  MntSweetProducts     2216 non-null   int64
 14  MntGoldProds         2216 non-null   int64
 15  NumDealsPurchases    2216 non-null   int64
 16  NumWebPurchases      2216 non-null   int64
 17  NumCatalogPurchases  2216 non-null   int64
 18  NumStorePurchases    2216 non-null   int64
 19  NumWebVisitsMonth    2216 non-null   int64
 20  AcceptedCmp3         2216 non-null   int64
 21  AcceptedCmp4         2216 non-null   int64
 22  AcceptedCmp5         2216 non-null   int64
 23  AcceptedCmp1         2216 non-null   int64
 24  AcceptedCmp2         2216 non-null   int64
 25  Complain             2216 non-null   int64
 26  Z_CostContact        2216 non-null   int64
 27  Z_Revenue            2216 non-null   int64
 28  Response             2216 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 519.4+ KB

## Task A (30 points)

In this question, we investigate how customers' online activity relates to their web purchasing behavior.

### Task A.1 (15 points)

i. Choose an appropriate chart type that can reveal **whether people who visit the website more often also make more purchases online**. In your chart, each data record corresponding to a customer should be represented by a **point**, the coordinates of which represent the *number of website visits last month* and the *number of online purchases*, respectively.
  * Develop the chart with visual encodings --  use **size** to encode customers' **income** and **color** to encode the **campaign response** (whether accepted any campaigns) in your chart.
  * When a user hovers their mouse on elements in the chart, let the chart show relevant information on *income*, *education*, and *marital status* of the corresponding data record.

ii. Further, answer the following questions in a **text (markdown) cell** and make sure to explain your answer based on the chart:
  * Do more frequent site visitors tend to buy more?
  * How does income affect online purchases?
  * Are campaign responders visually distinguishable? If so, how are they different?

**Hint**: You can use the `size_max=` argument to adjust the scale of the point sizes and make the size differences easier to see.

In [21]:
# Create AcceptedCampaign column
# 1 if customer accepted any campaign, 0 otherwise
df['AcceptedCampaign'] = (
    (df['AcceptedCmp1'] + df['AcceptedCmp2'] + df['AcceptedCmp3'] +
     df['AcceptedCmp4'] + df['AcceptedCmp5'] + df['Response']) > 0
).astype(int)

# Convert to categorical for better color display
df['AcceptedCampaign_cat'] = df['AcceptedCampaign'].map({
    0: 'No Campaign',
    1: 'Campaign Accepted'
})

# Create scatter plot
fig = px.scatter(
    df,
    x='NumWebVisitsMonth',
    y='NumWebPurchases',
    size='Income',
    facet_col='Response',
    color=['AcceptedCampaign_cat', 'Response'],
    hover_data=['Income', 'Education', 'Marital_Status'],
    title='Web Visits vs Online Purchases',
    labels={
        'NumWebVisitsMonth': 'Number of Web Visits (Last Month)',
        'NumWebPurchases': 'Number of Web Purchases',
        'AcceptedCampaign_cat': 'Campaign Response'
    },
    size_max=15
)

fig.update_layout(
    title_x=0.5,
    width=900,
    height=600
)

fig.show()

ValueError: All arguments should have the same length. The length of argument `color` is 2, whereas the length of  previously-processed arguments ['NumWebVisitsMonth', 'NumWebPurchases', 'Income', 'Education', 'Marital_Status', 'Response'] is 2216

In [18]:
df[['AcceptedCampaign', 'Response']]

      AcceptedCampaign  Response
0                    1         1
1                    0         0
2                    0         0
3                    0         0
4                    0         0
...                ...       ...
2235                 0         0
2236                 1         0
2237                 1         0
2238                 0         0
2239                 1         1

[2216 rows x 2 columns]

In [19]:
df['AcceptedCampaign'].unique()

array([1, 0])

### Task A.2 (15 points)

i. Use the same type of chart as in A.1 to explore whether wealthier customers necessarily spend more overall.
* In your chart, the value of the $x$ and $y$ axes should represent *income* and *total spending (across all types of products)*, respectively.
* Use **size** to visually encode **number of online purchases** and **color** to encode **campaign response** (whether the customer accepted any campaign).
* When a user hovers their mouse on elements in the chart, let the chart show relevant information on *income*, *education*, and *marital status* of the corresponding data record.

ii. Further, answer the following questions in a **text (markdown) cell** and make sure to explain your answer based on the chart:

  * What is the relationship between income and spending?

  * Do campaign responders cluster in particular regions of the plot?

  * For those purchased more times online, do they tend to spend more or less?

**Hint**: You may use `range_x=[start_value,end_value]`  to adjust the visible range on the x-axis for better visualizing the distribution of the points.

## Part B (30 points)

In this part, we will study customers' pattern/distribution of spendings across different types of customers. We will visualize such patterns for different customer groups using **bar charts**.

**Hint**: In this exercise, you may need to use the `df.melt()` function to convert a wide table into a long table. You can find an example of this function in the assignment repository (see **melt_example.ipynb**).

### Task B.1 (15 points)

i. Consider that customers are grouped by their **education levels**. Develop a bar chart with several sets of bars, in which:

* Each set of bars (i.e.,bar of the same color) represent the spendings by customers in different groups on a spefic product category. For example, spending by customers "Graduation", "Master", "PhD", ..., on *fish products*.  
* The chart should allow you to easily visuallize both the **total spending** by customers in a group on all product categories and the **composition** of their spending on those product categories.

ii. Further, answer the following questions in a **text (markdown) cell** and make sure to explain your answer based on the chart:
* Which customer group contributes the highest revenue?

**Hint**: By default, each row in the dataset is shown as a separate rectangle in the bar, and these rectangles have borders that can make the chart look cluttered. In that case, use `fig.update_traces(opacity=1, marker_line_width=0)` to remove the border lines.

NameError: name 'px' is not defined

### Task B.2 (15 points)

i. Consider that customers are grouped by their **marital statuses**. Develop a bar chart with several sets of bars, in which:

* Each set of bars (bars of the same color) represent the spendings by customers from different groups on a specific product category. For example, customers of "single", "married", ..., on Fruits.
* Within each group, the chart should allow you to easily compare the spending of customers on different product categories (e.g., idenfity the highest spending category by single customers).

ii. Further, answer the following questions in a **text (markdown) cell** and make sure to explain your answer based on the chart:
* For each marital status group, which category of product do they spend the highest amount on?
* Does the marital status affect customers' spending distribution across the product categories?  How?

## Part C (30 points)

In this part, let us investigate variability in customers' online purchasing behavior.

i. We will use a visualization chart that shows distribution of customers' online purchases. The chart should:
* Show multiple distributions, each being the distribution of number of online purchases by customers of a certain generation (Gen X vs. Millennials,  ignore other generations)
* Allow users to observe the 1st, 2nd, and 3rd quartiles of the distribution, along with any outliers.

ii. Based on the chart, answer the following question:
* How would you comment on the pattern of online purchases across different generations.

iii. In your chart, further divide each distribution into subgroups of customers based on the **number of kids at home** (not including teens).
How would you comment on the pattern of online purchases across the different subgroups of customers?

## Part D (2 points)

Briefly decribe how you used Gen. AI in this assignment

**Note**: The remaining 8 points will be assigned to readibility of your submission.